*{
    padding:0px;
    margin:0px;
    }
    #site-container{
    width:950px;
    height:auto;
    margin:20px auto;
    background:#ffcceb;
    padding-top:5px;
    padding-bottom:5px;
    }
   
    #header{
        width:900px;
        height:130px;
        background:url(https://akcdn.detik.net.id/visual/2021/03/31/pemandangan-pelangi-di-hawaii_169.jpeg?w=650);
        margin:5px auto;
        padding-top:150px;
        padding-left:50px; 
        }
        #header a{
            font:28pt 'Matura MT Script Capitals';
            text-decoration:none;
            color:#da25ce;
        }
        #header p{
        font:20pt 'times new roman';
        color:#da25ce;
        }

        #menu-content{
            width:950px;
            height:auto;
            margin:5 auto;
            }

            #menu{
                float:left;
                width:300px;
                height:auto;
                }

                .judul_1{
                    display:block;
                    height:40px;
                    background:#b1077b;
                    font:20pt "Script MT Bold";
                    color:#ffffff;
                    text-align:center;
                    border:1px solid rgb(0, 255, 76);
                    }

                    #menu ul{
                        list-style:none;
                        }

                        #menu li a{
                            display:block;
                            height:30px;
                            background:#0aaecf;
                            font:16pt "Script MT Bold";
                            color:#ffffff;
                            text-decoration:none;
                            border-bottom:1px solid rgb(255, 0, 208);
                            border-left:1px solid rgb(255, 0, 191);
                            border-right:1px solid rgb(255, 0, 166);
                            padding-left:20px;
                            }
                           
                            #menu li a:hover{
                                background:#666633;
                                color:#fff;
                                }
                                
                                #content{
                                float:right;
                                width:610px;
                                height:auto;
                                /*border:1px solid #000;*/
                                background:#af0f62;
                                padding:15px;
                                }

                                .judul_2{
                                    display:block;
                                    border-bottom:2px solid #ffffff;
                                    font:26pt "Script MT Bold";
                                    color:#fff;
                                    padding-bottom:10px;
                                    }
                                    
                                    .img{
                                    width:150px;
                                    height:200px;
                                    border:5px solid #fff;
                                    margin-top:20px;
                                    margin-right:20px;
                                    float:left;
                                    }
                                        
                                    #content p{
                                        margin-top:20px;
                                        color: #f7eef4;
                                        font:10pt "";
                                    }

                #footer{
                    width:950px;
                    height:40px;
                    margin-top:5px;
                    margin-bottom:0px;
                    margin-right:auto;
                    margin-left:auto;
                    background: #03c2f0;;
                    text-align:center;
                    padding-top:30px;
                    font-weight:bold;
                    color:#ffffff;
                    border:1px solid #ffffff;
                    }

                    .floating{
                        clear:both;
                        height:0px;
                        line-height:0px;
                    }

                    body{
                        background:#728803;
                        font:10pt verdana;
                        }